venv
db.sqlite3
manage.py
.env
.idea
RecipesRepository/RecipesRepository/__pycache__
RecipesRepository/recipes/__pycache__
RecipesRepository/recipes/migrations/__pycache__
RecipesRepository/accounts/__pycache__
RecipesRepository/accounts/migrations/__pycache__/