<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

  {% block title %}<title>Recipes Repository</title>{% endblock %}
</head>
<body>
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'recipes:home' %}">Recipes Repository</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <div class="d-flex justify-content-end">
          <div><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}<!-- default content text --> {% endblock %}

<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>